:root{
	--white: #ebe3ff;
	--black: #0a0909;
	--gray: #D6D5D6;
	--primary: #7484b9;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

h1{
	font-size: 1.7rem;
}

.home,
.projects,
.socials {
	padding-top: 10vh;
	min-height: 100vh;
	display: flex;
}

.home {
	background-color: var(--primary);
	color: var(--white);
}

.bio {
	padding-top: 37vh;
	width: 50%;
	margin-left: 4rem;
	font-size: 1.2rem;
}

.bio p{
	text-justify: distribute;
}

.bio #occupation{
	color: var(--gray);
	font-weight: 600;
	font-size: 1.45rem;
	margin-bottom: 1.2rem;
}

.contact-me {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form {
	background: rgba(194, 194, 194, 0.3);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(194, 194, 194, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
	height: 65%;
	width: 25rem;
}

.form .inputs{
	margin: 0 2rem;
}

.form h1{
	font-size: 2rem;
}

.form input, textarea{
	font-size: 1rem;
	padding: 0.7rem;
	width: 100%;
	margin: 0.5rem 0;

	background: rgba(194, 194, 194, 0.3);
	border-radius: 10px;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(194, 194, 194, 1);
	color: var(--white);
}

.form input::placeholder, textarea::placeholder{
	color: #777;
}

.form input:focus, textarea:focus{
	outline: none;
	background: rgb(170, 170, 170);
}

.form button{
	background: rgb(195, 195, 195);
	border-radius: 10px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.4px);
	-webkit-backdrop-filter: blur(5.4px);

	font-size: 1.2rem;
	padding: 1rem;
	width: 40%;
	margin-bottom: 0.5rem;
	cursor: pointer;
	color: var(--white);
}

.form button:hover{
	background: rgba(206, 206, 206, 1);
}

.form #message{
	resize: none;
	height: 10rem;
}

.name-lastname{
	display: flex;
	justify-content:space-between;
}

.name-lastname input{
	max-width: 48%;
}

.projects,
.socials{
	align-items: center;
}

.projects {
	background-color: var(--white);
    flex-direction: column;
}

.projects .title{
    padding: 3rem;
	text-shadow: -4px 3px 2px var(--black) ;
    text-align: center;
	color: var(--primary);
	font-size: 3rem;
	font-weight: bolder;
}

.project{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	height: 250px;
	width: 250px;
	padding: 2rem;
	background-color:var(--black);
	border-radius: 10px;
	color: var(--white);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
}

.project:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transform: translateY(-5px);
}

.project .info{
	display: none;
}

.project:hover .info{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	height: 100%;
}

.project .description{
	text-align: justify;
}

.project:hover .project-title{
	display: none;
}

.project .project-url{
	width: 100%;
	color: var(--white);
	text-align: center;
}

.project .tecnologies{
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
}

.project .tecnologies .tecnology{
	border: 1px solid var(--gray);
	border-radius: 15px;
	padding: 0.3rem 0.7rem;
	margin: 0.25rem 0;
	margin-left: 0.5rem;
}

.grid-container {
	display: flex;
	flex-wrap: wrap;
	width: 60%;
}

.socials {
	background-color: var(--black);
    flex-direction: column;
}

.socials .title{
	padding: 0 3rem;
	text-shadow: -4px 3px 2px var(--primary) ;
    text-align: center;
	color: var(--white);
	font-size: 3rem;
	font-weight: bolder;
}

.socials-container{
	justify-content: space-evenly;
}

#socials a{
    text-decoration: none;
	color: inherit;
}

.social-url{
	margin: 2rem 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
    height: 200px;
	background: rgba(255, 254, 255, 0.33);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(9.4px);
	-webkit-backdrop-filter: blur(9.4px);
	border: 1px solid rgba(255, 254, 255, 1);
}

.social-url i{
	font-size: 9rem;
	color: var(--gray);
}

.down-button{
	position: absolute;
	left: 50%;
	align-self:flex-end;
	padding-bottom: 1rem;
	font-size: 3.5rem;
	background-color: transparent;
	cursor: pointer;
	width: 4rem;
	color: var(--white);
	transition: all 2s ease;
}

.down-button:hover{
	transform: translateY(-10px);
}

header {
	display: flex;
	justify-content: space-between;
	align-content: center;
    align-items: center;
	background-color: var(--primary);
	padding: 1rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	max-height: 6rem;
}

nav{
	display: flex;
	justify-content: end;
	align-items: center;
	margin-right: 3rem;
	font-weight: 600;
}

nav a{
	font-size: 1.4rem;
	margin: 1rem 1.2rem;
	text-decoration: none;
	color: var(--white);
}

nav #github{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.3rem 0;
	padding-right: 1rem;
	border: inherit;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
}

nav i{
	font-size: 2.1rem;
	padding-left: 1rem;
	padding-right: 0.4rem;
}

.name{
	color: var(--white);
	padding-left: 3rem;
	margin: 0;
	position: relative;
	top: 43vh;
	transform: translateY(-50%);
	width: 50%;
	font-weight: bolder;
	font-size: 2.5rem;
}

#name a {
	text-decoration: none;
	color: inherit;
}